.userInfoBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .userInfo {
        display: flex;
        align-items: center;

        .userName {
            margin-left: 8px;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    .leaveIcon {
        display: block;
        width: 20px;
    }
}
