@keyframes appear-fade {
    from {
        opacity: 0;
        transform: translateX(200px);
    }
    10% {
        opacity: 1;
        transform: translateX(0px);
    }
    to {
        opacity: .4;
    }
}

.popupMessage {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: #fff;
    padding: 10px;

    border-radius: 5px;
    border: 1px solid #d1dfef;
    box-shadow: 10px 10px rgba(70, 128, 194, 0.1);

    animation: appear-fade 5s ease-in-out;

    &:not(:first-child) {
        margin-top: 6px;
    }

    .messageIcon {
        width: 16px;
        height: 16px;
        display: block;
    }
    .messageContent {
        font-size: 1.15rem;
        font-weight: bold;
        color: #000;
    }
}

